<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Evaluación Docente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Iniciar Sesión</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-input id="usuarioInput" label="Nombre de Usuario" labelPlacement="floating" [counter]="true" maxlength="5"></ion-input>
        <ion-input id="contrasenaInput" label="Contraseña" type="password" labelPlacement="floating" [counter]="true" maxlength="8"></ion-input>
        <ion-button (click)="login()">Ingresar</ion-button>
      </ion-card-content>

      <ion-item-divider></ion-item-divider>

      <ion-card-content>
        <ion-card-header>
          <ion-card-title>Soy Alumno</ion-card-title>
        </ion-card-header>
        <ion-button id="present-alert">Evaluar</ion-button>
        <ion-alert
          trigger="present-alert"
          header="Ingresa tu matricula"
          [buttons]="alertButtons"
          [inputs]="alertInputs"
        ></ion-alert>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
