<ion-header>
  <ion-toolbar>
    <ion-title>LaSalleBajio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Utiliza ion-card para cada materia -->
  <ion-card *ngFor="let materia of materias">
    <ion-card-header>
      <ion-card-title>{{ materia.nombre }}</ion-card-title>
      <ion-card-subtitle>Horario: {{ materia.horario }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let maestro of materia.maestros">
          <ion-avatar slot="start">
            <img src="assets/icon/favicon.png"> <!-- Asume un placeholder para la imagen del maestro -->
          </ion-avatar>
          <ion-label>
            {{ maestro?.nombre }}
          </ion-label>
          <ion-button fill="outline" slot="end" (click)="goToPreguntas()">Evaluar</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
