<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>LaSalleBajio</ion-title>
    <ion-buttons slot="end" *ngIf="esAdmin">
      <ion-button (click)="abrirModalAgregarMateria()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-button (click)="goToListaPreguntas('...')">
        <ion-icon name="list"></ion-icon>
      </ion-button>
      <ion-button *ngIf="esAdmin" (click)="goToDashboard()">Ir al Dashboard</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let materia of materias; let i = index">
    <ion-card-header>
      <ion-card-title>{{ materia.nombre }}</ion-card-title>
      <ion-card-subtitle>Horario: {{ materia.horario }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Profesor</ion-label>
      </ion-item>
      <ion-list>
        <ion-item *ngFor="let maestro of materia.maestros; let j = index">
          <ion-avatar slot="start">
            <img src="assets/icon/favicon.png">
          </ion-avatar>
          <ion-label>
            {{ maestro?.nombre }}
          </ion-label>
          <ion-button *ngIf="!esAdmin" fill="outline" slot="end" (click)="goToListaPreguntas(maestro?.nombre ?? '')">Evaluar</ion-button>
          <ion-buttons slot="end" *ngIf="esAdmin">
            <ion-button (click)="eliminarMaestro(j, materia.id)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
      <ion-button *ngIf="esAdmin" expand="block" (click)="abrirModalAgregarMaestro(materia.id)">Agregar Profesor</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>